@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url:"https://localhost:44352/HangFireMicroUI/GetJobs",
            type: "GET",
            success: function (response) {
                $('#hangFireData').html(response);
            }
        });
    });
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <label>HangFire Management </label>
    <div id="hangFireData">

    </div>
</div>